*,
html {
    margin: 0;
    padding: 0;
}
.container-body {
    height: 100vh;
}
.container-navbar{
    background-color: #3f182a;
    height: 10vh;
}
.ul-navbar {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    color: white;
    font-size: 20px;
}
.li-navbar:hover { 
    background-color: crimson;
    transition: .3s ease-in-out;
    transition-delay: .2s;
    border-radius: 10px;
}
.a-navbar {
    color: white;
    text-decoration: none;
}
.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2b2f52;
    height: 80vh;
}
.container-content:hover {
    background-color: white;
    transition: 1s ease-in-out;
    transition-delay: .3s;
}    
.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 450px;
}
.a-content {
    background-color: #D9D9D9;
    border-radius: 30px;
    box-shadow: 14px -12px 22px 7px rgba(0,0,0,0.69);
    -webkit-box-shadow: 14px -12px 22px 7px rgba(0,0,0,0.69);
    -moz-box-shadow: 14px -12px 22px 7px rgba(0,0,0,0.69);;
}
.a-content:hover {
    background-color: crimson;
    transition: 1s ease-in-out;
    transition-delay: .3s;
    border-radius: 1000px;
    box-shadow: none; 
}
.container-footer {
    background-color: #7d4844;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.a-footer {
    color: black;
    text-decoration: none;
}
.a-footer:hover {
    background-color: white;
    transition: 1s ease-in-out;
    transition-delay: .3s;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);; 
}